<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Camila R</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_contact.css') }}">
</head>
<body>

<nav>
    <a href="{{ url_for('home') }}">Perfil</a>
    <a href="{{ url_for('habilidades') }}">Habilidades</a>
    <a href="{{ url_for('contacto') }}">Contacto</a>
</nav>

<main>
    <div class="circular-img">
        <img src="{{ url_for('static', filename='images/fotopuño.jpg') }}" alt="foto puño">
    </div>

    <div class="ty">
        <h2>¡Gracias!</h2>
    </div>

    <div class="img">
        <img src="{{ url_for('static', filename='images/miat.jpeg') }}" alt="MIAT">
    </div>

    <div class="MIAT">
        <h2>Les regalo un miata enojado</h2>
    </div>

    <div class="socials">
        <a href="https://www.instagram.com/tepetongojeje?igsh=dTRvdnh3aGc4bDhq&utm_source=qr" target="_blank">
            <img src="{{ url_for('static', filename='images/insta.png') }}g" alt="Instagram">
        </a>
        <a href="https://x.com/kmilarouses?t=3xNPFQZcSTWpYFGR6TV2RQ&s=08" target="_blank">
            <img src="{{ url_for('static', filename='images/tww.png') }}" alt="Twitter">
        </a>
    </div>
</main>

</html>